@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron deadpool">
    <meta charset="utf-8">
    <style type="text/css">
    </style>

    <h1>DEADPOOL</h1>
    <p class="lead">He's the best super-anti-hero. Just ask him.</p>
    <p><a href="https://en.wikipedia.org/wiki/Deadpool" class="btn btn-primary btn-lg">Fun Facts About Deadpool &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More about Deadpool</h2>
        <p>
            21 Fun Facts You Didn't Know About Deadpool
        </p>
        <p><a class="btn btn-default" href="https://filmschoolrejects.com/deadpool-facts/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A Favorite Movie Scene Starring Deadpool</h2>
        <p>New legs, lieutenent Dan....you've got new legs!</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=cNJvYfsXp8U">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>If You Didn't Know Already....</h2>
        <p>Painting with Bob Ross.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=8-Cjsnq8kVU">Learn more &raquo;</a></p>
    </div>
</div>